.collapse-expand-enter {
	height: 0px;
    opacity: 0;
}
.collapse-expand-enter-active {
	height: 50px;
    opacity: 1;
	/* overflow: hidden; */
	transition: all 800ms ease-in-out;
}
.collapse-expand-enter-done {
	height: 50px;
    opacity: 1;
	/* overflow: hidden; */
	transition: all 800ms ease-in-out;
}
.collapse-expand-exit {
	height: 50px;
    opacity: 1;
}
.collapse-expand-exit-active {
	height: 0px;
    opacity: 0;
	/* overflow: hidden; */
	transition: all 800ms ease-in-out;
}
.collapse-expand-exit-done {
	height: 0px;
    opacity: 0;
	/* overflow: hidden; */
	transition: all 800ms ease-in-out;
}
